section {
  display: flex;
  flex-direction: column-reverse;
  @media (min-width: 1024px) {
    flex-direction: row;
  }
  padding: 10px;
  margin: 40px 0px;
}

.image-container {
  display: flex;
  justify-content: center;
  img {
    width: 100%;
    max-width: 768px;
    object-fit: cover;
    border-radius: var(--radius-md);
  }
  @media (min-width: 1024px) {
    margin: 20px;
  }
}
.content {
  max-width: 768px;
  margin: 0 auto;
  font-size: 18px;
}

.badge {
  display: inline-block;
  border-radius: 999px;
  padding: 6px 16px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #be185d;
  background: var(--color-secondary-bg);
}
.content-title {
  font-size: 24px;
  color: #111827;
  margin-bottom: 2rem;
}

.home__us-feats {
  padding-left: 35px;
  margin: 20px 0 40px;
}
.home__us-feat {
  position: relative;
}
.home__us-icon {
  position: absolute;
  top: 2px;
  left: -32px;
}

.section-2 {
  width: 100vw;
  padding: 80px 0px;
  margin-left: calc(-50vw + 50%);
  background: linear-gradient(
    135deg,
    var(--color-gradient-start) 0%,
    var(--color-gradient-end) 70%
  );
  @media (min-width: 1024px) {
    padding: 50px 0px;
  }
}

.section-container {
  @media (max-width: 1023px) {
    max-width: 768px;
  }
  padding: 40px 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: var(--color-bg);
  @media (min-width: 1024px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }
}
.content-2 h2,
.content-2 p {
  color: var(--color-bg);
}

.content-title-2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.content-2 p {
  font-size: 18px;
}

.image-container-2 {
  display: none;
  @media (min-width: 1024px) {
    display: block;
    margin-left: 20px;
  }
  width: 100%;
  height: 500px;

  img {
    max-width: 100%;
    height: 100%;
    border-radius: var(--radius-md);
    object-fit: cover;
  }
}

.avatars {
  margin-top: 25px;
  position: relative;
  &-text {
    position: absolute;
    top: 54px;
    left: 2px;
    font-size: 14px;
  }
}

.avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: var(--color-secondary-bg2);
  &--2 {
    position: relative;
    left: -10px;
  }
  &--3 {
    position: relative;
    left: -20px;
  }
  &--4 {
    position: relative;
    left: -30px;
  }
}

img {
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
}
