.reset-container {
  // background: linear-gradient(180deg, #fff5ff, #f9f1ff);
  font-family: var(--font-base);
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.reset-card {
  min-height: 230px;
  position: relative;
  width: 400px;
  background: var(--color-absolute);
  border-radius: var(--radius-md);
  text-align: center;
  box-shadow: var(--shadow-md);
  padding: 2.5rem 3rem;
  transition: all var(--transition);
  border: 1px solid var(--color-border-opac25);
  .subtitle {
    color: var(--color-text-secondary);
    font-size: 1.05rem;
    margin-top: 1.4rem;
    margin-bottom: 1.8rem;
  }
}
.reset-card h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
  font-family: var(--font-heading);
  color: var(--color-text);
}
.reset-form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.input-group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
.input-group input {
  width: 100%;
  padding: 1.2rem 0.8rem 1.2rem 2.5rem;
  padding-right: 2.7rem;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);
  background-color: var(--color-bg);
  color: var(--color-text);
  font-size: 1.1rem;
  outline: none;
  transition: all var(--transition);
  font-family: inherit;

  &::placeholder {
    color: var(--color-text-secondary);
  }
}
.input-group input:focus {
  border-color: var(--color-primary);
  background: var(--color-absolute);
  box-shadow: 0 0 0 3px var(--color-primary-opac50);
}
.input-icon {
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  left: 9px;
  transform: translateY(-50%);
}
.error {
  position: absolute;
  bottom: -33px;
  left: 3px;
  color: var(--color-error);
  font-size: 0.9rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.error.visible {
  opacity: 1;
  visibility: visible;
}
.success {
  color: #16a34a;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0.5rem;
  text-align: center;
}
.error.server {
  color: #e74c3c;
  font-weight: 500;
  font-size: 0.95rem;
  margin-top: 0.5rem;
  text-align: center;
}
.btn-reset {
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  background: linear-gradient(
    90deg,
    var(--color-gradient-start),
    var(--color-gradient-end)
  );
  border: none;
  color: white;
  border-radius: 6px;
  font-family: var(--font-heading);
  font-size: 1.1rem;
  cursor: pointer;
  transition: background var(--transition);
  &:hover {
    background: linear-gradient(
      90deg,
      var(--color-secondary-hover),
      var(--color-primary-hover)
    );
    opacity: 0.9;
  }
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
.back-login {
  color: var(--color-text-secondary);
  font-size: 1.03rem;
  margin-top: 1rem;
  a {
    color: var(--color-primary);
    text-decoration: none;
    font-weight: 500;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.reset-card.loading {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.7;
}
.locked-icon {
  margin-right: 8px;
  font-size: 1rem;
  opacity: 0.9;
}
.toggle-password {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--color-text-secondary);
  transition: color 0.2s ease;
  opacity: 0.6;

  &:hover {
    opacity: 0.9;
    color: var(--color-text);
  }
}
