.pet-health-section {
  margin-top: 3rem;
  .subsections-tabs {
    display: flex;
    background: var(--color-absolute);
    border: 1px solid var(--color-border-opac25);
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
    margin-bottom: 1.5rem;

    button {
      flex: 1;
      padding: 8px 0;
      background-color: inherit;
      border: none;
      cursor: pointer;
      font-weight: 500;
      color: var(--color-text);
      font-size: 11px;
      transition: 0.25s ease;

      // &:hover {
      //   background-color: opacity(0.1);
      // }

      &.active {
        background: var(--purple-bg);
        color: var(--purple-text);
        font-weight: 600;
      }
    }
  }
}
